* {
    margin:0;
    padding:0;
    color: #fff;
    font-family: 'VT323', cursive;
}
body {
    font-size: 15px;
    background: #0d0e13; /* Old browsers */

    background: -moz-linear-gradient(top,  #0d0e13 1%, #1b212f 44%, #212838 100%); /* FF3.6+ */

    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#0d0e13), color-stop(44%,#1b212f), color-stop(100%,#212838)); /* Chrome,Safari4+ */

    background: -webkit-linear-gradient(top,  #0d0e13 1%,#1b212f 44%,#212838 100%); /* Chrome10+,Safari5.1+ */

    background: -o-linear-gradient(top,  #0d0e13 1%,#1b212f 44%,#212838 100%); /* Opera 11.10+ */

    background: -ms-linear-gradient(top,  #0d0e13 1%,#1b212f 44%,#212838 100%); /* IE10+ */

    background: linear-gradient(to bottom,  #0d0e13 1%,#1b212f 44%,#212838 100%); /* W3C */

    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0d0e13', endColorstr='#212838',GradientType=0 ); /* IE6-9 */
    overflow:auto;


}
ul {
    float: left;    
    list-style: none;
}
hr {
    clear: both;    
}
.winner {
    display: none;
}
.panel {
    float: left;
    min-width: 640px;
}
.panel-g {
    float: left;
    border-style: solid;
    border-width: 1px;
    border-color: #d9d9d9;
    padding: 1.25em;
    background: #f2f2f2;
}
#experiment {
  -webkit-perspective: 800;
  -webkit-perspective-origin: 50% 50%;
  -moz-perspective: 800;
  -moz-perspective-origin: 50% 50%;
}
#cube {
  position: relative;
  margin: 100px auto 0;
  height: 400px;
  width: 400px;
  -webkit-transition: -webkit-transform 1s linear;
  -webkit-transform-style: preserve-3d;
  -moz-transition: -moz-transform 0.1s linear;
  -moz-transform-style: preserve-3d;
}
.face {
  position: absolute;
  height: 400px;
  width: 400px;
  /*padding: 20px;*/
  background-color: rgba(50, 50, 50, 0.7);
  line-height: 1em;
  color: #fff;
  border: 1px solid #555;
  border-radius: 3px;
  font-size: 300px;
  text-align: center;
}
#cube .one  {
  -webkit-transform: rotateX(90deg) translateZ(200px);
  -moz-transform: rotateX(90deg) translateZ(200px);
}
#cube .two {
  -webkit-transform: translateZ(200px);
  -moz-transform: translateZ(200px);
}
#cube .three {
  -webkit-transform: rotateY(90deg) translateZ(200px);
  -moz-transform: rotateY(90deg) translateZ(200px);
}
#cube .four {
  -webkit-transform: rotateY(180deg) translateZ(200px);
  -moz-transform: rotateY(180deg) translateZ(200px);
}
#cube .five {
  -webkit-transform: rotateY(-90deg) translateZ(200px);
  -moz-transform: rotateY(-90deg) translateZ(200px);
}
#cube .six {
  -webkit-transform: rotateX(-90deg) rotate(180deg) translateZ(200px);
  -moz-transform: rotateX(-90deg) rotate(180deg) translateZ(200px);
}
canvas.darker {opacity: 0.8; }
canvas.lighter {opacity: 0.7; }
.game-main {
}

#inputCanvas, #inputVideo {
    position: fixed;
    bottom: 0;
    right: 0;
}

#inputVideo {
    left: 0;
}

.life, .metrics, .user-points {
    position: fixed;
    top: 0;
    right: 0;
}

.metrics, .user-points {
    left: 0;
}

.user-points {
    font-size: 100px;
    display: inline;
    background: rgba(0,0,0,0.1);
    z-index: -1;
    zoom: 136%;
    margin: -16px 0;
    padding: 0;
}

.win-face {
    background: #90ee90;
}

.win-face p, .lose-face p {
    font-size: 100px;
}

.lose-face {
    background: #fc1501;
}

ul.life li {
    float: left;
    margin: 10px 20px;
    background:transparent url('../images/life.png') no-repeat scroll 0 0;
    width: 100px;
    height: 90px;
}

ul.life li.lost {
    background-position: -110px 0;
}



.five p, .three p {
    font-size: 54px;
    line-height: 54px;
    margin: 140px 10px;
}

.metrics {
    top: 200px !important;
}
